*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    width: 100%;
    height: 100vh;
  
}
.img
{
   max-width: 100%;
   max-height: 100%;
    
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.content p{
    text-align: center;
}
.slide1{
    background-image:linear-gradient(to bottom, rgba(180,183,197,0.5), rgba(97,94,100,0.5)),url("stock/img1.jpg");
    background-size: cover;
}
.slide2{
    background-image:linear-gradient(to bottom, rgba(180,183,197,0.5), rgba(97,94,100,0.5)),url("stock/img2.jpg");
    background-size: cover;
}
.slide3{
    background-image:linear-gradient(to bottom, rgba(180,183,197,0.5), rgba(97,94,100,0.5)),url("stock/img3.jpg");
    background-size: cover;
}
.slide4{
    background-image:linear-gradient(to bottom, rgba(180,183,197,0.5), rgba(97,94,100,0.5)),url("stock/img4.jpg");
    background-size: cover;
}
.slide5{
    background-image:linear-gradient(to bottom, rgba(180,183,197,0.5), rgba(97,94,100,0.5)),url("stock/img5.jpg");
    background-size: cover;
}

.content h2{
    text-transform: uppercase;
    color: #ffff;
    padding-bottom: 2rem;
}

.content p{
    text-transform: uppercase;
    color: #ffff;
    line-height: 1.5rem;
}

/* owl carousel */

.owl-carousel .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    /* transition: all 400ms ease-in-out; */
}

.owl-prev  img, .owl-next img{
    width: 50px;
    height: 50px;
}
.owl-carousel .owl-prev{
    position: absolute;
    left: -30px;
    opacity: 0;
}
.owl-carousel:hover .owl-prev{
    position: absolute;
    left: 30px;
    opacity: 1;
}

.owl-carousel .owl-next{
    position: absolute;
    right: 30px;
    opacity: 0;
}
.owl-carousel:hover .owl-next{
    position: absolute;
    right: 30px;
    opacity: 1;
}

.owl-dots{
    position: absolute;
    top: auto;
    width: 100%;
    bottom: 30px;
    text-align: center;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    /* -webkit-backface-visibility: visible; */
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

/* text animations */

.container .owl-item.active .item .content h2{
    animation: fadeInRight;
    animation-duration: 1s;
}
.container .owl-item.active .item .content p{
    animation: fadeInLeft;
    animation-duration: 1.5s;
}
.container .owl-item.active .item .content a{
    animation: flipInX ;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
}

/******* Responsive *******/

@media (min-width:1600px){
    .content h2{
        padding-bottom: 3rem;
        font-size: 4.5rem;
    }
    
    .content p{
        font-size: 1.8rem;
        line-height: 3rem;
        padding-bottom: 3rem;
    }
    
    .content a{
        padding: 1rem 3rem;
        font-size: 1.8rem;
      }

      .owl-prev img, .owl-next img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width:900px) and (max-width:1200px){
    .content h2{
        padding-bottom: 2rem;
        font-size: 2.5rem;
    }
    
    .content p{
        font-size: 0.8rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .content a{
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
      }

      .owl-prev img, .owl-next img {
        width: 40px;
        height: 40px;
    }
}

@media (min-width:460px) and (max-width:890px){
    .content h2{
        padding-bottom: 1rem;
        font-size: 2rem;
    }
    
    .content p{
        font-size: 0.7rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .content a{
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
    }

    .owl-carousel:hover .owl-prev{
        position: absolute;
        left: 20px;
        opacity: 1;
    }
    .owl-carousel:hover .owl-next{
        position: absolute;
        right: 20px;
        opacity: 1;
    }
      .owl-prev img, .owl-next img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:460px){
    .slide1,.slide2,.slide3,.slide4,.slide5{
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .content h2{
        padding-bottom: 1rem;
        font-size: 1.2rem;
    }
    
    .content p{
        font-size: 0.5rem;
        padding-bottom: 0.8rem;
    }
    .content a{
        padding: 0.2rem 1rem;
        font-size: 0.5rem;
    }
    .owl-dots{
        bottom: 80px;
    }
    .owl-dots .owl-dot span {
        width: 5px;
        height: 5px;
        margin: 2px 4px;
    }
}

@media (max-width:340px){
    .content h2{
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    
    .content p{
        font-size: 0.4rem;
        padding-bottom: 0.8rem;
    }
    .content a{
        padding: 0.2rem 1rem;
        font-size: 0.4rem;
      }
    
}







